* {
  font-family: Lato;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
div {

}
.welcome-label {
  padding: 1em;
  font-size: larger;
}
.user-container {
  display: flex;
  justify-content: space-between;
}
.app-name{
  padding: 1em;
  font-size: larger;
}